
<form method="POST" action="/posts/<%= post.post_id %>/comment">
    <div>
        <textarea id="content" name="content" rows="5" placeholder="내용을 입력하세요" required></textarea>
    </div>
    
    <button type="submit"> 댓글 작성 </button>
</form>