<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Post</title>
  <link rel="stylesheet" href="/editPage.css">
</head>
<body>
  <header>
    <h1>회원정보 수정</h1>
  </header>
  <main>
    <form method="POST" action="./edit?_method=PUT"> 
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username" value="<%= username %>" required/>
        </div>
        <div>
          <label for="username">Current Password: </label>
          <input type="password" name="curPw" required/>
        </div>
        <div>
            <label for="password">New Password: </label>
            <input type="password" name="password" required/>
        </div>
      <button type="submit">수정하기</button>
    </form>
  </main>
</body>
</html>