<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log In</title>
    <link rel="stylesheet" href="/CSS/login.css">
    <script src="/JS/login.js"></script>
</head>
<body>
    <header>
        <h1>로그인</h1>
    </header>
    <main>
        <div class="login-box">
            <div>
                <label for="username">Username: </label>
                <input type="text" id="username" autocomplete="on"/>
            </div>
            <div>
                <label for="password">Password: </label>
                <input type="password" id="password" />
            </div>
            <button type="button" onclick="login()">Log In</button>
            
            <a href="/signup">Sign Up</a>
        </div>
    </main>
</body>
</html>