<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New Post</title>
  <link rel="stylesheet" href="/CSS/newPost.css">
</head>
<body>
  <header>
    <h1>새 게시글 작성</h1>
  </header>
  <main>
    <form method="POST" action="/posts/new">
      <div>
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" placeholder="제목을 입력하세요" required>
      </div>
      <div>
        <label for="content">내용:</label>
        <textarea id="content" name="content" rows="10" placeholder="내용을 입력하세요" required></textarea>
      </div>
      <div>
        <label for="img">이미지:</label>
        <img id="uploadedImage" src="" loading="lazy" alt="Uploaded Image" style="max-width: 300px; display: none;" />
      </div>
      <input type="hidden" id="imageurl" name="imageurl" />
      <button type="submit">제출하기</button>
    </form>
    <form id="uploadForm" enctype="multipart/form-data">
      <div>
        <input type="file" name="image" required/>
      </div>
      <div>
        <label for="fileName">파일 이름:</label>
        <input type="text" name="fileName" required/>
      </div>
      <button type="submit">업로드하기</button>
    </form>
    
    <script src="/JS/uploadImage.js"></script>
    
  </main>
</body>
</html>