<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Create New Post </title>
  <link rel="stylesheet" href="/CSS/newPost.css">
</head>
<body>
  <header>
    <h1> 새 게시글 작성 </h1>
  </header>
  <main>
    <form>
      <div>
        <label for="title"> 제목: </label>
        <input type="text" id="title" name="title" placeholder="제목을 입력하세요" required>
      </div>
      <div>
        <label for="content"> 내용: </label>
        <iframe id="editor" srcdoc="" style="width:100%; height:500px; border:1px solid black;">

        </iframe>
      </div>
      <div>
        <input type="button" value="이미지 업로드" onclick="
        window.open('/posts/upload', '_blank', 'width=660, height=245', 'scrollbars=no');">
      </div>
      
      <input type="hidden" id="imageId" value="" name="imageId" />
      <button id="post-upload-btn" type="submit"> 제출하기 </button>
    </form>

    <script src="/JS/post-editor.js"></script>

  </main>
</body>
</html>