<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="/userInfo.css">
</head>
<body>
    <div class="container">
        <h1>회원정보</h1>
        <div class="actions">
            <a href="/logout">Log Out</a>
            <a href="/user/edit">회원정보수정</a>
            <a href="/withdraw">회원탈퇴</a>
        </div>
        <div class="user-details">
            <p>아이디: <%= user.username %></p>
            <p>비밀번호: <%= user.pwd %></p>
            <p>닉네임: </p>
        </div>
    </div>
</body>
</html>